@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');

.App{
  text-align: center;
}

body{
  font-family: 'KoHo', sans-serif;
  background-color: #3c4042;
  color: white;
}